<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="top-text">
          <h1>Welcome to
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            <b>Bookers!!</b>
          </h1>
          <p>In
          </p>
      </div>
    </div>
  </div>

</div>